/* --------------------------------------------------------- */
/* ===================== FIRST PHOTO ======================= */
/* --------------------------------------------------------- */
#budget {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  font-family: 'Courgette', cursive;
}

/* ==================calendar================= */
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 50%;
  background-image: linear-gradient(to right top, #79253c, #7e2840, #822b44, #872f48, #8c324c, #953752, #9e3b58, #a7405e, #b84867, #c85071, #da597a, #eb6184);
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
 width:50%;
  margin: 0;
  padding: 10px 0;
  background-color:rgba(255, 255, 255, 0.5);
}

.weekdays li {
  display: inline-block;
  width: 12.6%;
  color:black;
  font-weight: bold;
  text-align: center;
 
}

.days {
width:50%;
  padding: 10px 0;
  background-color:rgba(255, 255, 255, 0.363);
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.9%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: black
}

.days li .active {
  padding: 5px;
  background-image: linear-gradient(to right top, #79253c, #7e2840, #822b44, #872f48, #8c324c, #953752, #9e3b58, #a7405e, #b84867, #c85071, #da597a, #eb6184);
  color: white !important
}

.note{
  text-align: center;
  font-weight: bold;
  color:#923651;
}


/* --------------------------------------------------------- */
/* ====================== ORDER FORM ======================= */
/* --------------------------------------------------------- */
#orderformback{
  background-color:rgba(255, 255, 255, 0.363);
}
.calculate{
  text-align: center;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
}
.Reserve{
  text-align: center;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
#formoption1{
  font-family: 'Courgette', cursive;
  font-weight: bold;
  font-size: 25px;
}
#formoption2{
  font-family: 'Courgette', cursive;
  font-size: 25px;
  font-weight: bold;
}
#formoption3{
  font-family: 'Courgette', cursive;
  font-size: 25px;
  font-weight: bold;
}
#formoption4{
  font-family: 'Courgette', cursive;
  font-size: 25px;
  font-weight: bold;
}
#formoption5{
  font-family: 'Courgette', cursive;
  text-align: center;
  position: relative; 
  font-size: 25px;
  font-weight: bold;
}
.subformoptionall{
  font-weight: bold;
}

.additional{
  text-align: center;
  position: relative; 
  font-size: 25px;
  font-weight: bold;
  font-family: 'Courgette', cursive;
}

/* -------------------------------------------------------- */
/* =================Reserve button========================= */
/* -------------------------------------------------------- */
.registerbox{
  margin: 0 auto;
  float: none; 
  margin-bottom: 10px; 
  width: 18rem;
  text-align: center;
  border-radius: 30px;
  border-top: rgb(211, 77, 77) 8px solid;
  background-color: rgba(166, 170, 170, 0);
}
#button1{
  color:white;
  background-color:rgb(196, 90, 90);
  font-family: 'Courgette', cursive;
}
#button1:hover {
  background-color: brown;
  color: white;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#upperspace{
  background-image: linear-gradient(to right top, #79253c, #7e2840, #822b44, #872f48, #8c324c, #953752, #9e3b58, #a7405e, #b84867, #c85071, #da597a, #eb6184);  
}
#staticBackdropLabel{
  font-size: 25px;
  font-family: 'Courgette', cursive;
  color:white;
}
.close{
  color:white;
  font-size:30px;
}
.button5{
  background-color: #923651;
  color:white;
  font-size: 18px;
  font-family: 'Courgette', cursive;
}
.button5:hover{
  background-color:#923651; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.thank{
  font-family: 'Jim Nightshade', cursive;
  font-size: 60px;
  color:#923651; 
  font-weight: bold;
}
.reservedquote{
  font-family: 'Kaushan Script', cursive;
  font-size: 25px;

}
.lastquote{
  font-family: 'Jim Nightshade', cursive;
  font-size: 38px;
  font-weight: bold;
}
.lastquote2{
  font-family: 'Jim Nightshade', cursive;
  font-size: 38px;
  font-weight: bold; 
}
/* ---------------------------------------------------------- */
/* =======================Last photo========================= */
/* ---------------------------------------------------------- */
#end{
  position: relative;
  text-align: center;
  color: white; 
}
.last {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-family: 'Courgette', cursive;
}
.form-check-label{
    font-size:20px
}
.lastline{
    text-align: center;
    font-weight: bold;
}
.h6{
  text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ************************************************** DONE *********************************************************************** */
/* ------------------------------------------------------------------------------------------------------------------------------- */